<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="addButton">
            <button
              mat-raised-button
              type="submit"
              class="btn btn-danger pull-right"
              routerLink="/add-component-environment"
            >
              Add a Component Environment
            </button>
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Component Environment List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    Component Name
                  </th>
                  <th>
                    Environment Name
                  </th>
                  <th>
                    Added Time
                  </th>
                  <th>
                    Added By
                  </th>
                  <th></th>
                </thead>
                <tbody>
                  <tr
                    style="text-align: left;"
                    *ngFor="let comEnvDetailsModel of comEnvDetailsModels"
                  >
                    <td style="padding-left: 10px;">
                      {{ comEnvDetailsModel.componentName }}
                    </td>
                    <td style="padding-left: 10px;">
                      {{ comEnvDetailsModel.environmentName }}
                    </td>
                    <td style="padding-left: 10px;">
                      {{
                        comEnvDetailsModel.createdAt
                          | date: "yyyy-MM-dd HH:mm:ss"
                      }}
                    </td>
                    <td style="padding-left: 10px;"></td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
