<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="addButton">
            <button
              mat-raised-button
              type="submit"
              class="btn btn-danger pull-right"
              routerLink="/add-release"
            >
              Add a New Release
            </button>
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Release List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    Component
                  </th>
                  <th>
                    Version
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Release Time
                  </th>
                  <th>
                    Release By
                  </th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Admin API
                    </td>
                    <td style="padding-left: 10px;">
                      v1.0
                    </td>
                    <td style="padding-left: 10px;">
                      This is for admin module
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-16 13:28:45
                    </td>
                    <td style="padding-left: 10px;">
                      Terance Wijesuriya
                    </td>
                    <td class="clickable" routerLink="/edit-release">
                      <span class="material-icons">
                        create
                      </span>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        sync_disabled
                      </span>
                    </td>
                  </tr>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Order API
                    </td>
                    <td style="padding-left: 10px;">
                      v2.5
                    </td>
                    <td style="padding-left: 10px;">
                      This release is for order engine
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-15 22:28:45
                    </td>
                    <td style="padding-left: 10px;">
                      Sanjeewa Ariyarathne
                    </td>
                    <td class="clickable" routerLink="/edit-release">
                      <span class="material-icons">
                        create
                      </span>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        sync_disabled
                      </span>
                    </td>
                  </tr>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Uber Eats API
                    </td>
                    <td style="padding-left: 10px;">
                      v3.0
                    </td>
                    <td style="padding-left: 10px;">
                      Latest changes for uber eats api
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-14 17:45:45
                    </td>
                    <td style="padding-left: 10px;">
                      Thilina Kelum
                    </td>
                    <td class="clickable" routerLink="/edit-release">
                      <span class="material-icons">
                        create
                      </span>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        sync_disabled
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
