<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="addButton">
            <button
              mat-raised-button
              type="submit"
              class="btn btn-danger pull-right"
              routerLink="/add-deployment"
            >
              Add a New Deployment
            </button>
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Deployment List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    Release/Component Name
                  </th>
                  <th>
                    Environment Name
                  </th>
                  <th>
                    Deployed Time
                  </th>
                  <th>
                    Deployed By
                  </th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Admin API
                    </td>
                    <td style="padding-left: 10px;">
                      Development
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-16 15:00:00
                    </td>
                    <td style="padding-left: 10px;">
                      Terance Wijesuriya
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        play_circle_filled
                      </span>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Order API
                    </td>
                    <td style="padding-left: 10px;">
                      Production
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-16 08:00:00
                    </td>
                    <td style="padding-left: 10px;">
                      Sanjeewa Ariyarathne
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        play_circle_filled
                      </span>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Uber Eats API
                    </td>
                    <td style="padding-left: 10px;">
                      Testing
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-15 08:00:00
                    </td>
                    <td style="padding-left: 10px;">
                      Thilina Kelum
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        play_circle_filled
                      </span>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
