<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Product Details</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Product Name" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Description" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="QTY" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Unit Price" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Discount" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field appearance="fill">
                                <mat-label>Age Limit</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.value">
                                        {{subCategory.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Category</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let category of categories" [value]="category.value">
                                        {{category.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="pull-right">
                                <button mat-raised-button type="submit" class="btn btn-danger" routerLink="/products">Edit</button>
                                <button mat-raised-button type="button" routerLink="/products" class="cancelButton">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


