<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngFor="let environmentDeploymentModel of environmentDeploymentModels">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">{{ environmentDeploymentModel.environmentName }}</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <th>Component</th>
                                <th style="text-align: center;">Deployed Version</th>
                                <th style="text-align: center;">Latest Version</th>
                                <th style="text-align: center;">Deployed Time</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deployment of environmentDeploymentModel.deploymentEnhancedModels">
                                    <td>{{ deployment.componentName }}</td>
                                    <td style="text-align: center;">{{ deployment.deployedVersionNumber }}</td>
                                    <td style="text-align: center;">{{ deployment.latestVersionNumber }}</td>
                                    <td style="text-align: center;">{{ deployment.createdAt }}</td>
                                    <td style="padding-left: 10px;">
                                        <button mat-raised-button type="submit" class="btn pull-right"
                                            style="color: #fff;
                                        background-color: #35ACEB;
                                        border-color: #35ACEB;
                                        box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);"
                                            [routerLink]="['/edit-component', deployment.componentId]">
                                            Release
                                        </button>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <button mat-raised-button type="submit" class="btn pull-right"
                                            style="color: #fff;
                                        background-color: #9EC229;
                                        border-color: #9EC229;
                                        box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);"
                                            [routerLink]="['/edit-environment', deployment.environmentId]">
                                            Deploy
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>