<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add Release</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="componentName" placeholder="Component Name" type="text" [(ngModel)]="component.componentName" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="repositoryUrl" placeholder="Repository URL" type="text" [(ngModel)]="component.repositoryUrl" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="branch" placeholder="Branch" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="versionNumber" placeholder="Version" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="description" placeholder="Description" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="pull-right">
                <button mat-raised-button type="submit" class="btn btn-danger" (click)="handleClick()">
                  Add
                </button>
                <button mat-raised-button type="button" routerLink="/component" class="cancelButton">
                  Cancel
                </button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <div class="card" style="margin-top: 40px;">
          <div class="addButton">
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Releases</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    Component
                  </th>
                  <th>
                    Branch
                  </th>
                  <th>
                    Version
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Added Time
                  </th>
                  <th>
                    Added By
                  </th>
                  <th>
                    Released Time
                  </th>
                  <th>
                    Released By
                  </th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Admin API
                    </td>
                    <td style="padding-left: 10px;">
                      Master
                    </td>
                    <td style="padding-left: 10px;">
                      v1.0
                    </td>
                    <td style="padding-left: 10px;">
                      This is for admin module
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-16 13:28:45
                    </td>
                    <td style="padding-left: 10px;">
                      Terance Wijesuriya
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-16 13:28:45
                    </td>
                    <td style="padding-left: 10px;">
                      Terance Wijesuriya
                    </td>
                    <td style="padding-left: 10px;">
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                        Release Now
                      </button>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Order API
                    </td>
                    <td style="padding-left: 10px;">
                      Master
                    </td>
                    <td style="padding-left: 10px;">
                      v2.5
                    </td>
                    <td style="padding-left: 10px;">
                      This release is for order engine
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-15 22:28:45
                    </td>
                    <td style="padding-left: 10px;">
                      Sanjeewa Ariyarathne
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-15 22:28:45
                    </td>
                    <td style="padding-left: 10px;">
                      Sanjeewa Ariyarathne
                    </td>
                    <td style="padding-left: 10px;">
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                        Release Now
                      </button>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Uber Eats API
                    </td>
                    <td style="padding-left: 10px;">
                      Master
                    </td>
                    <td style="padding-left: 10px;">
                      v3.0
                    </td>
                    <td style="padding-left: 10px;">
                      Latest changes for uber eats api
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-14 17:45:45
                    </td>
                    <td style="padding-left: 10px;">
                      Thilina Kelum
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-14 17:45:45
                    </td>
                    <td style="padding-left: 10px;">
                      Thilina Kelum
                    </td>
                    <td style="padding-left: 10px;">
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                        Release Now
                      </button>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>