<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="addButton">
            <button
              mat-raised-button
              type="submit"
              class="btn btn-danger pull-right"
              routerLink="/add-component"
            >
              Add a New Component
            </button>
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Component List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    Component Name
                  </th>
                  <th>
                    Repository URL
                  </th>
                  <th>
                    Added Time
                  </th>
                  <th>
                    Added By
                  </th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Admin API
                    </td>
                    <td style="padding-left: 10px;">
                      https://github.com/lancer1993/service-deployer-frontend
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-16 12:30:00
                    </td>
                    <td style="padding-left: 10px;">
                      Terance Wijesuriya
                    </td>
                    <td class="clickable" routerLink="/edit-component">
                      <span class="material-icons">
                        create
                      </span>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Order API
                    </td>
                    <td style="padding-left: 10px;">
                      https://github.com/lancer1993/service-deployer
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-15 20:00:00
                    </td>
                    <td style="padding-left: 10px;">
                      Sanjeewa Ariyarathne
                    </td>
                    <td class="clickable" routerLink="/edit-component">
                      <span class="material-icons">
                        create
                      </span>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                  <tr style="text-align: left;">
                    <td style="padding-left: 10px;">
                      Uber Eats API
                    </td>
                    <td style="padding-left: 10px;">
                      https://github.com/lancer1993/hazelcast-consumer
                    </td>
                    <td style="padding-left: 10px;">
                      2020-07-14 15:30:00
                    </td>
                    <td style="padding-left: 10px;">
                      Thilina Kelum
                    </td>
                    <td class="clickable" routerLink="/edit-component">
                      <span class="material-icons">
                        create
                      </span>
                    </td>
                    <td class="clickable">
                      <span class="material-icons">
                        delete
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
