<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="addButton">
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" routerLink="/add-component">
              Add a New Component
            </button>
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Components</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    Component Name
                  </th>
                  <th>
                    Component Type
                  </th>
                  <th>
                    Repository URL
                  </th>
                  <th>
                    Added Time
                  </th>
                  <th>
                    Added By
                  </th>
                  <th></th>
                </thead>
                <tbody>
                  <tr style="text-align: left;" *ngFor="let component of components">
                    <td style="padding-left: 10px;">
                      {{ component.componentName }}
                    </td>
                    <td style="padding-left: 10px;">
                      {{ component.componentTypeName }}
                    </td>
                    <td style="padding-left: 10px;">
                      {{ component.repositoryUrl }}
                    </td>
                    <td style="padding-left: 10px;">
                      {{ component.createdAt | date: "yyyy-MM-dd HH:mm:ss" }}
                    </td>
                    <td style="padding-left: 10px;"></td>
                    <td style="padding-left: 10px;">
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right" [routerLink]="['/edit-component', component.id]">
                        Release
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>